

.header {
    background: #007bff;
    padding: 20px;
    .navSec{
        width: 500px;
        display: inline-block;
        vertical-align: top;
        ul{
            list-style-type:none;
            margin:0;padding:0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            a{
                color: #ffffff;
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

