body{
    margin: 0;
    padding:0;
}
.bodyContent{
    margin:20px;
}
.footer{
    border: solid 1px transparent;
    margin:20px;
}
.gitUser{
        display: flex;
        justify-content: space-between;
        max-width: 800px;
        margin: 0 auto;
    input[type=text]{
        width: 400px;
        padding: 0 10px;
        font-size: 30px;
        line-height: 50px;
        color: #000000;
        display: inline-block;
        vertical-align: top;
    }
    button{
        display: block;
        line-height: 54px;
        cursor: pointer;
        border: none;
        background: #007bff;
        color: #ffffff;
        padding: 0 40px;
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        margin-top: 20px;
        border-radius: 7px;
        box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.4);
    }
    
    .noData{
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
    }
    .userSec{
        .fixWidth{width: 300px;
            img {
                width: 100%;
            }
        }
        .card {
            position: relative;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0,0,0,.125);
            border-radius: .25rem;
            .card-img-top {
                width: 100%;
                border-top-left-radius: calc(.25rem - 1px);
                border-top-right-radius: calc(.25rem - 1px);
            }
            .card-body {
                -webkit-box-flex: 1;
                -ms-flex: 1 1 auto;
                flex: 1 1 auto;
                padding: 10px 15px;
                .card-title {
                    margin-bottom: 10px;
                }
            }
            
        }
        
    }
}